<div *ngIf="conferenceDetail$ | async as data" fxLayout="column" fxLayoutGap="16px">
  <section>
    <ng-container *ngFor="let item$ of articles; last as islast">
      <ng-container *ngIf="item$ | async as item">
        <div class="decoration">
          <article-view [article]="item" class="decoration"></article-view>
          <mat-divider *ngIf="!islast"></mat-divider>
        </div>
      </ng-container>
    </ng-container>
  </section>
  <section>
    <gd-view [folderId]="data.folderId"></gd-view>
  </section>
</div>
