<div class="nav-bar-container">
  <ng-container *ngFor="let item of topMenus">
    <button
      mat-button
      #button
      class="toolbar-nav"
      [class.selected]="activeLink == item"
      [class.selected-parent]="selectedParent == item.id"
      [matMenuTriggerFor]="menu"
      #menuTrigger="matMenuTrigger"
      (mouseenter)="expand(item, menuTrigger)"
      (mouseleave)="buttonLeave(menuTrigger, button)"
      style="z-index: 1050"
      [disableRipple]="true"
    >
      {{ item.label }}
      <mat-icon>expand_more</mat-icon>
    </button>
    <mat-menu #menu="matMenu" direction="down" yPosition="below">
      <span (mouseenter)="menuenter()" (mouseleave)="menuLeave(menuTrigger, button)">
        <ng-container *ngFor="let subitem of item.children">
          <button mat-menu-item fxLayout="row" fxLayoutAlign="start center" (click)="goto(subitem)">
            <!-- <mat-icon>diamond</mat-icon> -->
            <div fxLayout="column">
              <span class="mat-body-2">{{ subitem.label }}</span>
              <span class="mat-caption">{{ subitem.label2 }}</span>
            </div>
          </button>
          <mat-divider></mat-divider>
        </ng-container>
      </span>
    </mat-menu>
  </ng-container>
</div>
