<div class="sheet-medium">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <h3>Articles</h3>
    <button
      mat-flat-button
      color="primary"
      [routerLink]="['/admin/add-article']"
    >
      Add article
    </button>
  </div>
  <!-- Article lists -->
  <div
    fxLayout="row wrap"
    fxLayoutGap="20px"
    *ngIf="articles$ | async as articles"
  >
    <article-grid-item *ngFor="let item of articles" [content]="item">
      <button mat-icon-button [routerLink]="['/admin/edit-article', item.id]">
        <mat-icon>edit</mat-icon>
      </button>
    </article-grid-item>
  </div>
</div>
