<div
  fxLayout="row"
  fxLayoutAlign="space-between center"
  class="admin-subheader"
>
  <h3>Articles</h3>
  <button mat-flat-button color="primary" [routerLink]="['/admin/add-article']">
    Add article
  </button>
</div>
<!-- Article lists -->
<div fxLayout="column" fxLayoutGap="20px" *ngIf="articles$ | async as articles">
  <article-list-item
    *ngFor="let item of articles; last as last"
    [content]="item"
  >
    <button mat-icon-button [routerLink]="['/admin/edit-article', item.id]">
      <mat-icon>edit</mat-icon>
    </button>
  </article-list-item>
</div>
