<div fxLayout="column" fxLayoutGap="16px">
  <title-wrapper [content]="headerContent"></title-wrapper>
  <mat-chip-list class="category-selector" fxLayout="row">
    <div class="h-scrolling-flex">
      <mat-chip
        [selected]="selected === null"
        (click)="select()"
        class="scrolling-item"
        >Бүгд</mat-chip
      >
      <mat-chip
        class="scrolling-item"
        *ngFor="let item of types"
        [selected]="item.queryParam.type === selected"
        (click)="select(item)"
      >
        {{ item.label }}
      </mat-chip>
    </div>
  </mat-chip-list>
  <div
    fxLayout="row wrap"
    fxLayoutGap.gt-xs="20px"
    *ngIf="articles$ | async as articles"
  >
    <article-grid-item
      *ngFor="let item of articles"
      [content]="item"
    ></article-grid-item>
    <article-grid-item
      *ngFor="let item of articles"
      [content]="item"
    ></article-grid-item>
    <article-grid-item
      *ngFor="let item of articles"
      [content]="item"
    ></article-grid-item>
  </div>
</div>
