@import "styles.scss";
.layout3-container {
  height: 100%;
}
.login-card-container {
  background-color: #ffffff;
  border-radius: 32px;
  max-width: 1000px;
  min-height: 500px;
  max-height: 675px;
  position: relative;
  overflow: hidden;
  .user-exist {
    margin-top: 16px;
  }
  #button_back {
    position: absolute;
    left: 24px;
    top: 24px;
  }
  .left-content {
    max-width: 500px;
    padding: 56px;
    position: relative;
    h3 {
      margin: 24px 0;
    }
    .mat-body-2 {
      margin-bottom: 16px;
    }
    .actions {
      button {
        margin-bottom: 16px;
      }
    }
    .bottom-text {
      position: absolute;
      bottom: 56px;
      align-self: center;
    }
  }
  .right-content {
    max-width: 500px;
    background-color: #006636;
    img {
      width: 100%;
    }
  }
}
