<div class="layout3-container" fxLayout="row" fxLayoutAlign="center center">
  <div class="login-card-container" fxLayout="row" fxLayout.xs="column">
    <div fxLayout="column" fxFlex class="left-content">
      <button mat-icon-button id="button_back" (click)="back()">
        <mat-icon class="mat-18">arrow_back</mat-icon>
      </button>
      <div class="logo">
        <img src="../../../assets/toolbarLogo.jpg" alt="Logo" />
      </div>
      <div
        *ngIf="authService.user$ | async as user; else login"
        fxLayout="column"
        class="user-exist"
      >
        <p class="mat-body-1">
          Та дараах хэрэглэгчээр нэвтэрсэн байна:
          <span class="mat-body-2">{{ user.email }}</span>
        </p>
        <button
          mat-button
          color="primary"
          routerLink="/home"
          class="background-button"
          type="button"
        >
          Нүүр хуудасруу буцах
        </button>
      </div>
      <ng-template #login>
        <h3>Нэвтрэх</h3>
        <p>
          Сайн байна уу, манай цахим хуудсанд тавтай морил!
        </p>
        <div fxLayout="column" class="actions">
          <button
            mat-button
            color="primary"
            class="google-login"
            (click)="googleLogin()"
          >
            <i class="fab fa-google fa-2x"></i>
            Sign in with Google
          </button>
          <!-- <button mat-stroked-button color="primary">Facebook login</button> -->
        </div>
      </ng-template>
      <p class="mat-caption bottom-text">Үйлчилгээний нөхцөл</p>
    </div>
    <div fxLayout="column" fxFlex class="right-content" fxHide.xs="">
      <img src="../../../../assets/images/login_wallpaper.jpg" alt="" />
    </div>
  </div>
</div>
