@import "../wrapper-hero/wrapper-hero.component.scss";

.wrapper-hero-container {
  height: auto;
  .left-content {
    padding: 48px 16px 48px 48px;
    h1 {
      margin: 0;
      position: relative;
    }
    h1::after {
      position: absolute;
      content: url("../../../../assets/decors/decor_star.svg");
      top: -18px;
      right: 0;
      // bottom: -8px;
    }
    .mat-body-2 {
      margin-bottom: 8px;
    }
  }
  .right-content {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    img {
      align-self: flex-end;
      width: 100%;
      max-width: 450px;
    }
  }
}
@media only screen and (max-width: 960px) and (min-width: 600px) {
  .wrapper-hero-container {
    .left-content {
      .mat-headline {
        color: $onDarkSurface;
      }
      .mat-body-2 {
        margin-bottom: 8px;
      }
    }
    .right-content {
      .image-background {
        img {
          width: 100%;
        }
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .wrapper-hero-container {
    // height: 375px;
    .left-content {
      // max-height: 200px;
      padding: 32px;
      .mat-body-2 {
        margin-bottom: 8px;
      }
      h1 {
        max-width: 270px;
      }
      h1::after {
        position: absolute;
        content: url("../../../../assets/decors/decor_star.svg");
        top: -24px;
        right: 0;
        // bottom: -8px;
      }
    }
    .right-content {
      justify-content: center;
      img {
        // align-self: flex-end;
        max-height: 120px;
        width: auto;
      }
    }
  }
}
