<div class="sidenav-container">
  <div
    fxLayout="column"
    fxLayoutAlign="center start"
    class="sidenav-logo-container"
  >
    <button mat-icon-button class="logo-button" (click)="goto('/home')">
      <img src="../../../assets/toolbarLogo.jpg" alt="Logo" />
    </button>
  </div>
  <mat-nav-list fxLayout="column">
    <div *ngFor="let item of sideMenu" fxFlex>
      <button
        mat-list-item
        (click)="toggle(item)"
        [class.selected]="isOpen && isSelected == item.id"
      >
        <div class="list-item-contents">
          <span class="mat-body-2">{{ item.label }}</span>
          <mat-icon>expand_more</mat-icon>
        </div>
      </button>
      <div *ngIf="isOpen && isSelected == item.id">
        <mat-nav-list fxLayout="column" class="sub-menu">
          <button
            mat-list-item
            (click)="goto(sub.link)"

            *ngFor="let sub of item.children; last as last"y
          >
            {{ sub.label }}
          </button>
        </mat-nav-list>
      </div>
    </div>
  </mat-nav-list>
  <!-- <mat-tree [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding> parent node </mat-tree-node>
    <mat-tree-node> -- child node1 </mat-tree-node>
    <mat-tree-node> -- child node2 </mat-tree-node>
  </mat-tree> -->
  <p id="copyright" class="mat-caption">© Бүх эрх хуулиар хамгаалагдсан. </p>
</div>
