@import 'styles.scss';
.top-toolbar {
  @include top-toolbar;
  top: 0;
  visibility: visible;
  transition: top 0.3s ease;
  position: relative;
  .logo-button {
    height: 61px;
    width: 61px;
    img {
      height: 48px;
      width: auto;
      left: -6px;
    }
  }
}
.on-scroll {
  top: -114px;
  transition: top 0.3s ease;
}

.no-scroll {
  @include mat-elevation(0);
}


