<mat-toolbar
  class="top-toolbar"
  [class.no-scroll]="isOnTop"
  [class.on-scroll]="hideToolbar"
>
  <mat-toolbar-row style="padding: 0">
    <div fxFlex></div>
    <div
      class="container"
      fxLayout="row"
      fxLayoutAlign="space-between center"
      fxLayoutAlign.xs="space-between center"
    >
      <ng-content></ng-content>
      <div fxFlex fxLayoutAlign="center center">
        <button mat-icon-button class="logo-button" [routerLink]="['/home']" [disableRipple]="true">
          <img src="../../../assets/toolbarLogo.jpg" alt="Logo" />
        </button>
      </div>
      <div fxLayout="row" fxFlex fxLayoutAlign="end center">
        <!-- <button mat-icon-button fxHide.gt-sm>
          <mat-icon>search</mat-icon>
        </button> -->
        <div *ngIf="authService.user$ | async as user; else login">
          <button
            mat-icon-button
            color="primary"
            [routerLink]="['/auth/profile-settings']"
          >
            <mat-icon color="primary">account_circle</mat-icon>
          </button>
        </div>
        <ng-template #login>
          <button
            mat-stroked-button
            color="primary"
            [routerLink]="['/auth/login']"
          >
            Нэвтрэх
          </button>
        </ng-template>
      </div>
    </div>
    <div fxFlex></div>
  </mat-toolbar-row>
  <mat-toolbar-row fxHide.xs="" fxHide.sm="">
    <div fxFlex></div>
    <div class="container" fxLayout="row" fxLayoutAlign="center center">
      <nav-bar></nav-bar>
    </div>
    <div fxFlex></div>
  </mat-toolbar-row>
</mat-toolbar>
