<ng-container *ngIf="story$ | async as story">
  <div class="story-detail-container" fxLayout="column" fxLayoutGap="32px">
    <story-detail-header [content]="story"></story-detail-header>
    <div fxLayout="row">
      <div fxFlex></div>
      <div class="container">
        <article >
          <div
            class="ql-container ql-snow"
            fxLayout="column"
            style="border-width: 0"
            fxLayoutGap="16px"
          >
            <!-- <div class="story-meta">
              <div class="divider"></div>
              <p class="mat-caption" id="timestamp">{{story.createdAt | moment}}</p>
            </div> -->
            <div class="ql-editor" [innerHtml]="getHtml(story.content)"></div>
          </div>
        </article>
      </div>
      <div fxFlex></div>
    </div>
  </div>
</ng-container>
