@import "~@angular/material/theming";
@import "custom-palette.scss";
@import "typography.scss";
@import "~quill/dist/quill.bubble";
@import "~quill/dist/quill.core";
@import "~quill/dist/quill.snow";
@include mat-core();

$womeninmining-primary: mat-palette($my-amber);
$womeninmining-accent: mat-palette($my-brown);
$womeninmining-warn: mat-palette($mat-red);
$womeninmining-theme: mat-light-theme(
  (
    color: (
      primary: $womeninmining-primary,
      accent: $womeninmining-accent,
      warn: $womeninmining-warn,
    ),
  )
);
$onSurfaceLow: rgba(0, 0, 0, 0.2);
$onSurfaceMedium: rgba(0, 0, 0, 0.6);
$onSurfaceHigh: rgba(0, 0, 0, 0.87);
$onDarkSurface: rgba(255, 255, 255);

$whiteSurfaceMedium: #f5f5f5;
$redSurface: #b00020;

@include angular-material-theme($womeninmining-theme);
@include mat-base-typography($womeninmining-typography);
@include angular-material-typography($womeninmining-typography);

//Global styles

html {
  height: 100%;
  background-color: #fff;
}
body {
  margin: 0;
  background-color: #fff;
}
section {
  display: flex;
  flex-direction: column;
  display: -webkit-flex;
  flex-direction: -webkit-column;
  gap: 20px;
}
@media only screen and (min-width: 1920px) {
  .container {
    width: 1110px;
  }
}
@media only screen and (max-width: 1920px) and (min-width: 1280px) {
  .container {
    width: 1110px;
  }
}

@media only screen and (max-width: 1280px) and (min-width: 960px) {
  .container {
    width: 945px;
    box-sizing: border-box;
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
}
@media only screen and (max-width: 960px) {
  .container {
    width: 100%;
    box-sizing: border-box;
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
}
.line-clamp-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 150px;
  // height: 1.2em;
  white-space: nowrap;
}
/***********************Typography****************************/

a {
  text-decoration: none;
  color: $onSurfaceMedium;
}
a:hover {
  cursor: pointer;
}
.mat-headline {
  margin-bottom: 8px;
}

.divider {
  background-color: mat-color($womeninmining-primary);
  width: 40px;
  height: 6px;
  margin: 22px 0;
  border-radius: 8px;
}

#last-name {
  text-transform: capitalize;
  margin: 0;
}
#first-name {
  text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: mat-font-size($womeninmining-typography, title);
    line-height: 36px;
  }
}
// @mixin top-toolbar {
//   position: -webkit-sticky;
//   position: fixed;
//   /* Sets the sticky toolbar to be on top */
//   z-index: 5; /* Ensure that your app's content doesn't overlap the toolbar */
//   background-color: mat-color($my-grey, 500);
//   @include mat-elevation(2);
//   .mat-toolbar-row {
//     padding: 0;
//   }
// }
@mixin top-toolbar {
  position: -webkit-sticky;
  position: fixed;
  background-color: mat-color($my-amber, 50);
  // z-index: 5;
  // @include mat-elevation(2);
}
mat-icon {
  color: $onSurfaceMedium;
}
@mixin md-icon-size($size: 24px) {
  font-size: $size;
  height: $size;
  width: $size;
  line-height: $size;
  margin: 0 8px 0 0;
}
/********************************Button styles***********************************/
button.mat-button,
button.mat-flat-button,
button.mat-stroked-button {
  border-radius: 32px;
}
.mat-stroked-button:not(.mat-button-disabled) {
  border-color: inherit;
}
button.mat-stroked-button.primary {
  border-color: mat-color($womeninmining-primary);
}
button.mat-stroked-button.accent {
  border-color: mat-color($womeninmining-accent, 0.1);
}
button.mat-flat-button.primary {
  color: #fff !important;
}

.mat-button.google-login {
  border-radius: 300px;
  width: 100%;
  background-color: tra !important;
  color: #1e2029 !important;
  border: 1px solid $onSurfaceMedium;
}

.fa-google {
  background: conic-gradient(
      from -45deg,
      #ea4335 110deg,
      #4285f4 90deg 180deg,
      #34a853 180deg 270deg,
      #fbbc05 270deg
    )
    73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
mat-button-toggle-group {
  box-shadow: none !important;
  background-color: white;
  border-radius: 16px !important;
}

/*************************** Chip styles *********************************/
@mixin chip-tag {
  min-height: 22px !important;
  font-size: mat-font-size($womeninmining-typography, caption) !important;
  font-weight: 500 !important;
  // margin: ;
}

/***************************Shared styles*********************************/

.sheet-medium {
  background-color: $whiteSurfaceMedium;
  border-radius: 16px;
  padding: 32px;
}

/************************Quill custom styles***********************************/

.ql-container {
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  height: 100%;
  margin: 0px;
}
.ql-editor {
  padding: 0;
  p {
    text-align: justify;
    text-align-last: left;
  }
  line-height: inherit;
  color: inherit;
  ul {
    padding-left: 1em;
    // li::before {
    //   content: 's'
    // }
  }
}

.ql-snow .ql-editor img {
  width: 100%;
  margin: 8px 0;
}

.ql-snow .ql-editor blockquote {
  border-left: 4px solid mat-color($womeninmining-primary);
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 16px;
}

quill-editor.answer .ql-editor {
  height: 150px;
}
.ql-video {
  max-width: 100%;
}
.decoration {
  article {
    h3 {
      margin: 16px 0;
    }
    #timestamp {
      display: none;
      content: none;
    }
    .ql-editor {
      ul {
        margin: 8px 0;
        li {
          padding: 0;
          margin-bottom: 8px;
          display: flex;
          align-items: center;
        }
        li::before {
          content: url("../assets/decors/diamond_black_18dp.svg");
          margin: 0 16px 0 0;
          display: block;
          svg {
            fill: #fbbc05;
          }
        }
      }
    }
  }
  mat-divider {
    margin: 0 48px;
  }
  @media only screen and (max-width: 600px) {
    mat-divider {
      margin: 0 32px;
    }
  }
}
