
@import '~@angular/material/theming';
@import 'custom-palette.scss';
@import 'typography.scss';
@include mat-core();

$womeninmining-primary: mat-palette($my-amber);
$womeninmining-accent: mat-palette($my-brown);
$womeninmining-warn: mat-palette($mat-red);
$womeninmining-theme: mat-light-theme((
  color: (
    primary: $womeninmining-primary,
    accent: $womeninmining-accent,
    warn: $womeninmining-warn,
  )
));


@include angular-material-theme($womeninmining-theme);
@include mat-base-typography($womeninmining-typography);
@include angular-material-typography($womeninmining-typography);

//Global styles
body { margin: 0}
@media only screen and (min-width: 1920px) {
  .container {
    width: 1110px;
  }
}
@media only screen and (max-width: 1920px) and (min-width: 1280px) {
  .container {
    width: 1110px;
  }
}

@media only screen and (max-width: 1280px) and (min-width: 960px) {
  .container {
    width: 945px;
    box-sizing: border-box;
    // padding-left: 8px !important;
    // padding-right: 8px !important;
  }
}
@media only screen and (max-width: 960px) {
  .container {
    width: 100%;
    // box-sizing: border-box;
    // padding-left: 8px !important;
    // padding-right: 8px !important;
  }
}



@mixin top-toolbar {
  position: -webkit-sticky;
  position: fixed;
  background-color: mat-color($my-amber, 50);
  .mat-button.toolbar-nav{
    text-transform: uppercase;
    border-radius: 0;

  }
  .mat-button.toolbar-nav.selected {
    border-bottom: 2px solid mat-color($my-amber, 500);
    mat-icon {
      transform: rotate(180deg);
    }
  }
}
// mat-toolbar
// .remove-border-bottom .mat-tab-header {
//   border-bottom: none;
// }
// .remove-border-bottom .mat-tab-nav-bar, .mat-tab-header {
//   border-bottom: none;

// }
// .mat-tab-link {
//   height: 64px !important;
//   text-transform: uppercase;
// }
