@import "styles.scss";
@import "custom-palette.scss";

.wrapper-hero-container--card {
  width: 100%;
  max-width: 490px;
}
.wrapper-hero-container {
  position: relative;
  border-radius: 32px;
  width: 100%;
  height: 500px;
  .left-content {
    padding: 48px 16px 48px 48px;
    max-width: 450px;
    .mat-subheading-2 {
      margin: 0;
    }
    .mat-body-2 {
      margin-bottom: 8px;
    }
    button.second-button {
      margin-left: 16px;
    }
    .actions {
      width: 100%;
    }
  }
  .right-content {
    .image-background {
      img {
        height: auto;
      }
    }
  }
}
.wrapper-hero--primary {
  background-color: mat-color($womeninmining-accent);
  .mat-subheading-2 {
    color: $onDarkSurface;
  }
  h1 {
    color: $onDarkSurface;
  }
  p,p.mat-body-2 {
    color: $onDarkSurface;
  }
}
.wrapper-hero--accent {
  background-color: $whiteSurfaceMedium;
  .mat-subheading-2 {
    color: $onSurfaceHigh;
  }
  h1 {
    color: $onSurfaceHigh;
  }
  p,p.mat-body-2 {
    color: $onSurfaceHigh;
  }
}
.wrapper-hero--red {
  background-color: $redSurface;
  .mat-subheading-2 {
    color: $onDarkSurface;
  }
  h1 {
    color: $onDarkSurface;
  }
  p,p.mat-body-2 {
    color: $onDarkSurface;
  }
}
.wrapper-hero--background {
  overflow: hidden;
  .background-image {
    position: absolute;
    width: auto;
    z-index: -1;
  }
  .mat-subheading-2 {
    color: $onDarkSurface;
  }
  h1 {
    color: $onDarkSurface;
  }
  p {
    color: $onDarkSurface;
  }
}
@media only screen and (max-width: 1280px) and (min-width: 960px) {
  .wrapper-hero-container {
    .left-content {
      max-width: 450px;
      .mat-subheading-2 {
        margin: 0;
      }
      .mat-body-2 {
        margin-bottom: 8px;
      }
      button.second-button {
        margin-left: 16px;
      }
      .actions {
        width: 100%;
      }
    }
  }
}
@media only screen and (max-width: 960px) and (min-width: 600px) {
  .wrapper-hero-container {
    .left-content {
      padding: 48px 16px 48px 48px;
      .mat-headline {
        color: $onDarkSurface;
      }
      .mat-body-2 {
        margin-bottom: 8px;
      }
      button.second-button {
        margin-left: 16px;
      }
      .actions {
        width: 100%;
      }
    }
    .right-content {
      .image-background {
        img {
          width: 100%;
        }
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .wrapper-hero-container {
    max-height: 350px;
    .left-content {
      padding: 32px 16px 32px 32px;
      .mat-body-2 {
        margin-bottom: 8px;
      }
      button.second-button {
        margin-left: 16px;
      }
      .actions {
        margin: 8px 0;
        width: 100%;
      }
    }
    .right-content {
      .image-background {
        img {
          width: 100%;
        }
      }
    }
  }
  .wrapper-hero--background {
    overflow: hidden;
    .background-image {
      position: absolute;
      width: auto;
      z-index: -1;
    }
  }
}

