<div
  fxLayout="row"
  fxLayoutAlign="space-between center"
  class="admin-subheader"
>
  <h3>Stories</h3>
  <button mat-flat-button color="primary" [routerLink]="['/admin/add-story']">
    Add story
  </button>
</div>

<div fxLayout="column" *ngIf="stories$ | async as stories">
  <story-list-item *ngFor="let item of stories" [story] = "item">
    <button mat-icon-button  (click)="highlightStory(item)">
      <mat-icon [class.active]="item.highlighted">push_pin</mat-icon>
    </button>
  </story-list-item>
</div>
