<mat-toolbar class="top-toolbar">
  <mat-toolbar-row>
    <div fxFlex></div>
    <div class="container" fxLayout="row" fxLayoutAlign="center center">
      <p>logo</p>
    </div>
    <div fxFlex></div>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <div fxFlex></div>
    <div class="container" fxLayout="row" fxLayoutAlign="center center">
      <button
        mat-button
        class="toolbar-nav"
        (click)="expand(item)"
        [class.selected]="activeLink == item"
        *ngFor="let item of topMenus"
        disableRipple
        [matMenuTriggerFor]="menu"
      >
        {{ item.name }}
        <mat-icon>expand_less</mat-icon>
      </button>
      <mat-menu #menu="matMenu" hasBackdrop=true>
          <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>

            Item 1
          </button>
          <button mat-menu-item>Item 2</button>
      </mat-menu>
    </div>
    <div fxFlex></div>
  </mat-toolbar-row>
</mat-toolbar>
