@import "styles";

.grid-view-item-container {
  border-radius: 24px;
  max-width: 350px;
  min-height: 385px;
  .image-container {
    position: relative;
    border-radius: 24px;
    height: 195px;
    width: 100%;
    overflow: hidden;
    chip-tag {
      position: absolute;
      right: 16px;
      top: 16px;
    }
    img {
      width: 100%;
    }

  }
  .content-container {
    padding: 24px;
    h3:hover {
      color: mat-color($womeninmining-primary);
      cursor: pointer;
    }
  }
  .actions {
    // background-color: red;
  }
}
@media screen and (max-width: 600px) {
  .grid-view-item-container{
    max-width: 300px;
    img {
      width: 100%;
    }
  }
}
