@import 'styles.scss';

.avatar-container {
  padding: 32px;
  // background-color: red;
  h3 {
    margin-bottom: 4px;
  }
  .avatar-icon {
    @include md-icon-size(72px);
    // width: 72px;
    // height: 72px;
    color:  mat-color($womeninmining-primary);
  }
}

