<div
  fxLayout="row"
  fxLayout.xs="column"
  fxLayoutGap="8px"
  class="story-list-container"
>
  <div
    fxLayout="column"
    class="content"
    fxLayoutAlign="space-between start"
    fxFlex
  >
    <h1>
      <span class="last-name"></span>Жанчивын <br />
      <span class="first-name">Оюунгэрэл</span>
    </h1>
    <div class="divider"></div>
    <p class="line-clamp-3">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Risus, pretium at
      fames dictumst sed a. Sed quis interdum nunc eget nulla pretium gravida.
      Scelerisque congue metus, enim scelerisque.
    </p>
    <button mat-flat-button color="primary">Дэлгэрэнгүй</button>
  </div>
  <div fxLayout="column" class="image-container" >
    <img src="../../../../assets/images/people/oyungerel.webp" alt="" />
  </div>
</div>
