<div
  fxLayout="row"
  fxLayout.xs="column"
  fxLayoutGap="8px"
  class="story-list-container"
>
  <div
    fxLayout="column"
    class="content"
    fxLayoutAlign.gt-xs="space-between start"
    fxFlex
    fxFlexOrder.xs="2"
  >
    <div fxLayout="column">
      <h1 class="last-name">{{ story.lastName }}</h1>
      <h1 class="first-name">{{ story.firstName }}</h1>
      <div class="divider"></div>
      <p class="line-clamp-2">{{description}}</p>
    </div>
    <button mat-flat-button color="primary" (click)="gotoStory(story)">Дэлгэрэнгүй</button>
  </div>
  <div fxLayout="column" class="image-container" fxFlexOrder.xs="1">
    <img [src]="story.image" alt="Story image" />
  </div>
</div>
