<div class="sheet-medium" fxLayout="column">
  <form (ngSubmit)="onSubmit()">
    <h3>Article add</h3>
    <p class="mat-body-2">Title</p>
    <mat-form-field
      appearance="outline"
      color="primary"
      [floatLabel]="'never'"
      style="padding: 0"
    >
      <mat-label>Title</mat-label>
      <input
        type="text"
        matInput
        placeholder="Title"
        [formControl]="title"
        required
      />
      <mat-error *ngIf="title.touched">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>
    <p class="mat-body-2">Content type</p>
    <mat-form-field appearance="fill">
      <mat-label>Content type</mat-label>
      <mat-select [(value)]="selectedType">
        <mat-option *ngFor="let type of types" [value]="type.value">
          {{ type.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <p class="mat-body-2">Content</p>
    <quill-editor
      [formControl]="content"
      [modules]="config"
      [styles]="{ height: '300px' }"
      required
      [placeholder]="'Агуулга бичих ...'"
    ></quill-editor>
    <mat-hint class="mat-caption">Агуулгын доод урт 300 тэмдэгт</mat-hint>
    <div
      class="actions"
      fxLayout="row"
      fxLayoutAlign="end end"
      fxLayoutGap="8px"
    >
      <button
        mat-button
        type="button"
        color="primary"
        (click)="cancel('/admin/articles')"
      >
        Cancel
      </button>
      <button mat-flat-button color="primary" type="submit">Save</button>
    </div>
  </form>
</div>
