<div class="footer-container" fxLayout="row">
  <div fxFlex></div>
  <div class="content container" fxLayout="row">
    <div class="logo-container" fxHide.xs>
      <img src="../../../assets/images/logo_footer.webp" alt="Logo" />
    </div>
    <div
      class="link-container"
      fxLayout="row"
      fxFlex
      fxLayoutGap="32px"
      fxLayoutGap.gt-xs="64px"
      fxLayoutAlign="end start"
      fxLayoutAlign.xs = "space-between start"
    >
      <div class="row-1" fxLayout="column">
        <p class="mat-body-2">Чухал холбоосууд</p>
        <a class="mat-caption" *ngFor="let item of links">{{ item.label }}</a>
      </div>
      <div class="row-2" fxLayout="column">
        <p class="mat-body-2">Холбоо барих</p>
        <!-- <a class="mat-caption" *ngFor="let item of links">{{ item.label }}</a> -->
      </div>
    </div>
  </div>
  <div fxFlex></div>
</div>
