@import "styles.scss";

.footer-container {
  background-color: mat-color($womeninmining-accent);
  border-radius: 32px 32px 0 0;
  min-height: 270px;
  .content {
    margin: 36px 48px 16px 48px;
    position: relative;
    p,
    a {
      color: $onDarkSurface;
      margin-bottom: 8px;
    }
    .mat-body-2 {
      margin-bottom: 16px;
    }
    .logo-container {
      max-width: 128px;
      width: fit-content;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
    .link-container {
      padding: 0 24px;
      .social-container {
        margin: 16px 0;
      }
    }
  }
  mat-divider {
    margin: 16px 0;
  }
  .copyright {
    text-align: end;
  }
}


@media only screen and (max-width: 600px) {
  .footer-container {
    min-height: 220px;
    .content {
      margin: 24px 24px 8px 24px;
      .link-container {
        padding: 0;
      }
    }
  }
}
