<div fxLayout="column" fxLayoutGap="4px">
  <section>
    <title-wrapper [content]="headerContent"></title-wrapper>
  </section>
  <section>
    <ng-container *ngFor="let item$ of articles; last as islast">
      <ng-container *ngIf="item$ | async as item">
        <div class="decoration">
          <article-view [article]="item" class="decoration"></article-view>
          <mat-divider *ngIf="!islast"></mat-divider>
        </div>
      </ng-container>
    </ng-container>
  </section>
  <section>
    <section-header [content]="sectionHeader"></section-header>
  </section>
</div>
