<div fxLayout="column" fxLayoutGap="32px">
  <section>
    <title-wrapper [content]="header"></title-wrapper>
  </section>
  <section>
    <section-header [content]="sectionHeader"></section-header>
    <div fxLayout="row" class="sorting_tabs" fxLayoutAlign="end center">
      <mat-button-toggle-group
        name="stories"
        aria-label="sort"
        appearance="legacy"
      >
        <mat-button-toggle
          *ngFor="let item of toggleMenu"
          [matTooltip]="item.name"
          matTooltipClass="tooltip"
          (click)="changeSort(item)"
        >
          <mat-icon>{{ item.icon }}</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div fxLayout="column" *ngIf="stories$ | async as stories">
      <div *ngIf="selectedSort.sort === 'firstName'; else createdAt">
        <div *ngFor="let item of alphabet">
          <letter-divider [letter]="item"></letter-divider>
        </div>
      </div>
      <ng-template #createdAt>
        <story-list-item
          *ngFor="let item of stories"
          [story]="item"
        ></story-list-item>
      </ng-template>
    </div>
  </section>
</div>
