@import "styles.scss";
@import "custom-palette.scss";
.wrapper-card--primary {
  background-color: mat-color($womeninmining-accent);
  h1 {
    color: $onDarkSurface;
  }
  p.mat-body-2 {
    color: $onDarkSurface;
  }
}
.wrapper-card--accent {
  background-color: $whiteSurfaceMedium;
  h1 {
    color: $onSurfaceHigh;
  }
  p.mat-body-2 {
    color: $onSurfaceHigh;
  }
}
.wrapper-card--red {
  background-color: $redSurface;
  h1 {
    color: $onDarkSurface;
  }
  p.mat-body-2 {
    color: $onDarkSurface;
  }
}
.wrapper-card--orange {
  background-color: $orangeSurface;
  h1 {
    color: $onDarkSurface;
  }
  p.mat-body-2 {
    color: $onDarkSurface;
  }
}

.wrapper-card-container {
  border-radius: 32px;
  width: 100%;
  max-width: 350px;
  // padding: 32px 32px 32px 0;
  height: 550px;
  overflow: hidden;

  .top-content {
    margin: 32px 16px 16px 16px;
    h1 {
      text-align: center;
    }
    .mat-body-2 {
      margin-bottom: 8px;
      text-align: center;
    }
    .actions {
      margin: 8px 0;
      width: 100%;
    }
  }
  .bottom-content {
    // width: 100%;
    // background-color: yellow;
    img {
      width: 100%;
    }
  }
}
@media only screen and (max-width: 600px) {
  .wrapper-card-container {
    padding: 16px;
    max-width: 300px;
    // height: 100%;
    // max-height: 650px;
    .top-content {
      margin: 32px 16px 16px 16px;
      .mat-body-2 {
        margin-bottom: 8px;
      }
    }
    .bottom-content {
      img {
        width: 100%;
      }
    }
  }
}
