<ng-container *ngIf="content.desc; else rowHeader">
  <div fxLayout="column" fxLayoutAlign="center start" class="section-header">
    <h3>{{ content.title }}</h3>
    <div class="divider"></div>
    <p *ngIf="content.desc">{{ content.desc }}</p>
    <button mat-flat-button color="primary" (click)="goto(content.button.link)">
      {{ content.button.label }}
    </button>
  </div>
</ng-container>
<ng-template #rowHeader>
  <div
    class="section-header"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <div fxLayout="column">
      <h3>{{ content.title }}</h3>
      <div class="divider"></div>
    </div>
    <ng-container *ngIf="content?.button">
      <div class="actions" fxLayout="row" >
        <button mat-button color="primary" (click)="goto(content.button?.link)">
          {{ content.button?.label }}
          <mat-icon color="primary">chevron_right</mat-icon>
        </button>
      </div>
    </ng-container>
  </div>
</ng-template>
