.section-header {
  margin: 0 48px 6px 48px;
  h3 {
    margin: 0;
    position: relative;
  }

  .description {
    text-align: center;
    max-width: 600px;
    margin-bottom: 32px;
  }
}
.section-header.row {
  h3::after {
    position: absolute;
    // margin: 0 24px;
    content: url("../../../../assets/decors/decor_star.svg");
    top: -18px;
    right: -48px;
    // bottom: -8px;
  }
}

@media only screen and (max-width: 600px) {
  .section-header.row {
    margin: 0 0 0 24px;
  }
}
