<ng-container *ngIf="content.description; else rowHeader">
  <div fxLayout="column" fxLayoutAlign="center center" class="section-header column">
    <h3>{{ content.title }}</h3>
    <div class="divider"></div>
    <p class="description" *ngIf="content.description" >{{ content.description }}</p>
    <ng-container *ngIf="content?.button">
      <button mat-flat-button color="primary" (click)="goto(content.button.link)">
        {{ content.button.label }}
      </button>
    </ng-container>
  </div>
</ng-container>
<ng-template #rowHeader>
  <div
    class="section-header row"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <div fxLayout="column">
      <h3>{{ content.title }}</h3>
      <div class="divider"></div>
    </div>
    <ng-container *ngIf="content?.button">
      <div class="actions" fxLayout="row" >
        <button mat-button color="primary" (click)="goto(content.button.link)">
          {{ content.button.label }}
          <mat-icon color="primary">chevron_right</mat-icon>
        </button>
      </div>
    </ng-container>
  </div>
</ng-template>
