@import "../title-wrapper/title-wrapper.component.scss";

.wrapper-hero--primary {
  background-color: mat-color($womeninmining-accent);
  h1 {
    color: mat-color($womeninmining-primary);
  }
}
.wrapper-hero--accent {
  background-color: $whiteSurfaceMedium;
  .mat-subheading-2 {
    color: mat-color($womeninmining-primary);
  }
  h1 {
    color:  $onSurfaceHigh;
  }
}
.wrapper-hero--red {
  background-color: $redSurface;
  h1 {
    color: mat-color($womeninmining-primary);
  }
}
.wrapper-hero-container {
  margin: 8px 0;
}
@media only screen and (max-width: 600) {
  .wrapper-hero-container {
    // height: 300px !important;
  }
}
