<ng-container *ngIf="currentLayout$ | async as layout">
  <toptoolbar *ngIf="!layout.layout3 && !layout.layout4">
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex>
      <button mat-icon-button (click)="sidenav.toggle()" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </toptoolbar>
  <mat-sidenav-container *ngIf="currentRoute$ | async as currentRoute">
    <mat-sidenav
      [mode]="currentRoute.name === 'admin' ? 'side' : 'over'"
      [opened]="currentRoute.name === 'admin'"
      #sidenav
      class="mat-elevation-z3"
      [attr.role]="'navigation'"
    >
      <sidenav [current]="currentRoute.name" ></sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
      <div name="top-anchor"></div>
      <div
        fxLayout="row"
        [class.layout-one]="layout.layout1"
        [class.layout-three]="layout.layout3"
        [class.layout-four]="layout.layout4"
      >
        <div fxFlex *ngIf="!layout.layout2"></div>
        <div
          [class.container]="!layout.layout2"
          [class.content]="!layout.layout2"
          [class.layout-two]="layout.layout2"
        >
          <ng-container *ngIf="showRouteMenu(layout, currentRoute)">
            <div
              *ngIf="routes$ | async as routes"
              fxLayout="row"
              class="route-menu"
            >
              <div
                *ngFor="
                  let item of routes;
                  let count = count;
                  let n = index;
                  let last = last
                "
                fxLayout="row"
                fxLayoutAlign="start center"
              >
                <a (click)="goto(routes[n + 1])" class="mat-caption">{{
                  item.title
                }}</a>
                <mat-icon *ngIf="item.title && n !== count - 2"
                  >keyboard_arrow_right</mat-icon
                >
              </div>
            </div>
          </ng-container>
          <ng-content></ng-content>
        </div>
        <div fxFlex *ngIf="!layout.layout2"></div>
      </div>
      <footer *ngIf="!layout.layout3 && !layout.layout4"></footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
