.mat-drawer-container {
  background-color: #ffffff;
}
mat-sidenav-container {
  height: 100%;
}
mat-sidenav {
  width: 250px;
  position: absolute;
  top: 0
}
/*---------------------------Layouts---------------------------------*/
  .mat-sidenav-content-container {
      padding-top: 80px;
  }

// .layout-one {
//   margin-top: 8px;
//   min-height: calc(100vh - 200px);
//   .mat-sidenav-content-container {
//       padding-top: 80px;
//   }
// }
