@import 'styles.scss';
.mat-drawer-container {
  background-color: #ffffff;
}
mat-sidenav-container {
  height: 100%;
}
mat-sidenav {
  width: 250px;
  position: absolute;
  top: 0;
}
/*---------------------------Layouts---------------------------------*/
.mat-sidenav-content-container {
  padding-top: 80px;
}

.layout-one {
  min-height: calc(100vh - 200px);
  background-color: red;
}

.layout-three {
  background-color: mat-color($womeninmining-primary);
  height: 100vh;
}
